rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only allow authenticated users to read/write all collections
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}